/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap"); */

:root {
  --dark-brown: #504a3c;
  --light-sand-bg: #E4D8B4;
  --calcWidthHorTimeline: calc( (100px + 50px) * 16);
}

body{
  /* background-image: url("https://www.toptal.com/designers/subtlepatterns/uploads/square_bg.png"); */
  /* background-image: url("../img/square_bg.webp"); */
  /* background-repeat: repeat; */
}

.tv9-interactives  > * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

.sub-head{
  color:#2876DD;
  text-transform: uppercase;
}

.cover{
  width: 100%;
  max-width: 800px;
  margin: 50px auto 50px auto;
  text-align: center;
}
.cover img{
  margin-bottom: 50px;
}

.pt100{
  padding-top: 100px;
}

.cover h1{
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 2.5rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
}
.block {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 100px;
  flex-direction: column;
}

.section-intro  {
  margin-bottom: 30px;
  text-align: center;
  width: 100%;
  max-width: 800px;
}

.section-intro2  {
  margin: 0 auto 30px;
    text-align: center;
    width: 100%;
    max-width: 800px;
}
.section-intro h2,
  .section-intro2 h2 {
  margin-bottom: 20px;
}

.timeline {
  width: 80%;
  height: auto;
  max-width: 960px;
  margin: 0 auto 0 auto;
  position: relative;
  padding-bottom: 70px;
}

.timeline .timeline-start{
  width: 100%;
  max-width: 300px;
  margin: 0 auto 200px auto;
  text-align: center;
  position: relative;
  margin-top: -60px;
}
.timeline .timeline-end{
  position: absolute;
  bottom: 0;
  width: 100%;
  max-width: 300px;
  left: 50%;
  text-align: center;
  transform: translate(-50%, 100px);
  padding-top: 45px;
}
.timeline .timeline-start::before {
  content: "";
  position: absolute;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: #333;
  bottom: 0px;
}
.timeline .timeline-end::after {
  content: "";
    position: absolute;
    top: -50px;
    left: 51%;
    transform: translateX(-50%);
    width: 1px;
    border-left: 2px dashed #979797;
    height: calc( 100% - 75px);
    z-index: 0;
}
.timeline .timeline-end::before {
  content: "";
  position: absolute;
  height: 16px;
  width: 16px;
  transform: rotate(45deg) translateX(-50%);
  background-color: #000;
  top: -52px;
  left: 50%;
  z-index: 2;
}

.timeline ul {
  list-style: none;
}
.timeline ul li {
  
}
.timeline ul li:last-child {
  margin-bottom: 0;
}
.timeline-content {
  padding: 20px 20px 20px 25px;
  background-color: var(--light-sand-bg);
  color: white;
  border-radius: 35px;
  margin-bottom: 20px;
}

.timeline-content h4 {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 10px;
  color: var(--dark-brown);
}
.timeline-content p {
  font-size: 15px;
  line-height: 22px;
  font-weight: 500;
  color: var(--dark-brown);
}
.timeline-content .timeline-date {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
  letter-spacing: 2px;
  color: var(--dark-brown);
}

.timeline-content .timeline-img{
  float: left;
    margin-right: 20px;
}

.hor-timeline {
  width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    padding: 0 60px
}

.arro-nav{
  display: flex;
  justify-content: space-between;
  width: 90%;
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.arro-nav button{
  width: 20px;
  background-color: transparent;
  color: #000;
  border-radius: 50%;
  height: 100px;
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
  outline: none;
}

.tenure-nav ul{
  display: flex;
    column-gap: 50px;
    width: var(--calcWidthHorTimeline);
    transition: all .5s ease;
    position: relative;
}
.tenure-nav ul::before{
  content: "";
  position: absolute;
  top: 10px;
  left: 50px;
  display: block;
  width: calc(100% - 100px);
  height: 1px;
  background-color: #c3b390;
  z-index: 0;
}
.tenure-nav ul li{
  width: 140px;
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #a2a2a2;
  cursor: pointer;
}
.tenure-nav ul li.active{
  color: #000;
}
.tenure-nav ul li.active span{
  background-color: #9F9172;
}
.tenure-nav ul li span{
  display: block;
    background-color: #a2a2a2;
    color: #fff;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    padding: 6px 0;
    line-height: 12px;
    margin: 0 auto 5px auto;
    font-size: 14px;
    position: relative;
}

.pm-content {
  display: flex;
  width: 100%;
  max-width: 650px;
  margin: 25px auto 50px;
  column-gap: 20px;
  justify-content: flex-start;
}

.pm-content img{
  border-radius: 50%;
  align-self: flex-start;
}

.timeline:before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: calc( 100% + 50px );
  background-color: #c3b390;
}

/* .all-pms{
  display: flex;
  flex-basis: 100vw;
}

.all-pms .pm-content{
  width: 100%;
} */

.timeline li:nth-child(5) ~ li {
  display: none;
}

.load-more{
  background-color: #000;
  color: #FFF;
  padding: 20px 15px;
  text-transform: uppercase;
  border-radius: 50px;
  line-height: 15px;
  font-size: 18px;
  border: none;
  max-width: 300px;
  width: 60%;
  margin-top: 20px;
}

.load-more.done{
  display: none;
}

.timeline .timeline-start .timeline-content,
  .timeline .timeline-end .timeline-content{
    background-color: transparent;
    padding-top: 12px;
  }

  
.timeline .timeline-start .timeline-content h3,
  .timeline .timeline-end .timeline-content h3{
    color: var(--dark-brown);
  }

#pmName{
  font-size: 1.6rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
}
#pmTenure{
  font-size: 1.2rem;
  margin-bottom: 1rem;
  font-weight: 500;
  font-style: italic;
}

#horTimeline{
  background-color: #EEEEEE;
  min-height: calc( 100vh - 100px);
}

.timeline ul li:first-child .timeline-content{
  background-color: orange;
  color: #fff;
}

.timeline ul li:first-child .timeline-content h4,
.timeline ul li:first-child .timeline-content p{
  background-color: orange;
  color: #fff;
}

.timeline ul li:first-child .timeline-content h3{
  color: orange;
}

.tenure-nav{
  margin-bottom: 40px;
}

.faded{
  opacity: .2;
}

@media only screen and (min-width: 1px) and (max-width:767px) {
  .timeline ul li:first-child .timeline-content h3 {
      color: #FFF;
  }
  .timeline {
    padding-bottom: 0;
  }
  .timeline-content .timeline-date {
    font-size: 24px;}
  .timeline:before {
    top: 0;
    left: 0;
    transform: translateX(-20px);
    /* height: calc( 100% ); */
    height: calc( 100% );
  }
  .timeline .timeline-start {
    margin: 0 auto 20px auto;
    margin-top: 0;
  }

  .timeline .timeline-start,
  .timeline .timeline-end {
    text-align: left;
  }
  .timeline .timeline-start::before,
  .timeline .timeline-end::before {
    left: 0;
    transform: translateX(-34px);
    top: 0;
  }
  
  /* .timeline .timeline-start::before, .timeline .timeline-end::before{
    display: none;
  } */
  .timeline .timeline-end {
      padding-top: 0;
  }
  .timeline ul li {
    position: relative;
    border-top-left-radius: 0;
  }
  .timeline ul li::before {
    content: "";
    position: absolute;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: var(--dark-brown);
    top: 0px;
    left: -27px;
  }
  .pm-content{
    flex-direction: column;
  }
  .hor-timeline {
    width: 100%;
    max-width: 375px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    padding: 0 20px;
  }
  .pm-content{
    text-align: center;
  }
  .pm-content img {
      width: 65%;
      margin: 0 auto 20px auto;
  }
  .arro-nav{
    top: 200px;
    width: 90%;
  }
  .cover {
    width: 100%;
    max-width: 375px;
  }
  .ver-timeline .timeline-content {
    border-top-left-radius: 0;
  }

  .ver-timeline .timeline-content, 
  .ver-timeline::before {
    transition: all .5s ease;
    opacity: 0;
  }
  .ver-timeline.active .timeline-content {
    opacity: 1;
    animation-name: fromRight;
    animation-duration: .5s;
  }
  .ver-timeline.active::before{
    opacity: 1;
  }

  @keyframes fromRight {
    from {transform: translateX(80px);}
    to {transform: translateX(0);}
  }

  /* .ver-timeline::before{
    opacity: 0;
    transition: all .5s ease;
  }
  .ver-timeline.active::before{
    opacity: 1;
  }
  .ver-timeline .timeline-content{
    opacity: 0;
    transition: all .8s ease;
    transform: translateX(80px);
  }
  .ver-timeline.active .timeline-content{
    opacity: 1;
    transform: translateX(0);
  } */

  .timeline .timeline-end {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .tenure-nav ul li {
    font-size: 12px;
    line-height: 14px;
    font-weight: 600;
    cursor: pointer;
}
  .all-pms{
    min-height: 230px;
  }

  .timeline{
    margin-bottom: 100px;
  }
      
  .timeline ul li {
    width: 50%;
    position: relative;
    margin-bottom: 50px;
  }
  .timeline ul li:nth-child(odd) {
    float: left;
    clear: right;
    transform: translateX(-30px);
    border-radius: 20px 0px 20px 20px;
  }
  .timeline ul li:nth-child(even) {
    float: right;
    clear: left;
    transform: translateX(30px);
    border-radius: 0px 30px 30px 30px;
  }
  .timeline ul li::before {
    content: "";
    position: absolute;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: var(--dark-brown);
    top: 0px;
  }
  .timeline ul li:nth-child(odd)::before {
    transform: translate(50%, -50%);
    right: -30px;
  }
  
  .timeline ul li:nth-child(even)::before {
    transform: translate(-50%, -50%);
    left: -30px;
  }
  .timeline-content .timeline-date {
    position: absolute;
    top: -25px;
  }
  .timeline ul li:hover::before {
    background-color: #000;
  }
  .arro-nav button { width: 20px; margin-top: 50px;}

  .ver-timeline:nth-child(odd) .timeline-content{
    opacity: 0;
    transition: all .8s ease;
    transform: translateX(-100px);
  }
  .ver-timeline:nth-child(even) .timeline-content{
    opacity: 0;
    transition: all .8s ease;
    transform: translateX(100px);
  }
  .ver-timeline.active .timeline-content{
    opacity: 1;
    transform: translateX(0) !important;
  }
  .ver-timeline::before{
    opacity: 0;
    transition: all .5s ease;
  }
  .ver-timeline.active::before{
    opacity: 1;
  }
  .ver-timeline:nth-child(odd) .timeline-content {
    border-top-right-radius: 0;
  }
  .ver-timeline:nth-child(even) .timeline-content {
    border-top-left-radius: 0;
  }
  .load-more{
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
  }
  .timeline::before {
    top: 0;
    height: calc( 100% - 50px );
  }
  .timeline .timeline-end {
    bottom: -60px;
  }
  .timeline .timeline-end .timeline-content{
    margin-bottom: 0;
  }
  .timeline .timeline-end .timeline-content::before{
    content: "";
    position: absolute;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: var(--dark-brown);
    top: 32px;
    left: 50%;
    margin-left: 3px;
    transform: translateX(-50%);
    z-index: 2;
  }
}
